* {
    font-family: "corbel", "arial", "helvetica", sans-serif;
}

h1 {
    font-size: x-large;
    margin: 0px;
    padding: 0px;
}

html, fieldset {
    background: radial-gradient(circle at top left, ivory 70%, skyblue 200%);
}

fieldset {
    width: 15em;
    padding: .5em;
    margin: 0px;
    margin-right: 1em;
    border-radius: 0.5ex;
    border: 1px silver solid;
}

@media (min-width: 60em) {
    fieldset:not(:first-of-type) {
        float: left;
        height: 22em;
    }
}

@media (orientation: portrait) {
    * {
        font-size: xx-large;
    }
}

table {
    border-collapse: collapse;
}

td:nth-child(1) {
    width: 5em;
}

input {
    font-family: "consolas", "lucida console", monospace;
    border-radius: 0.5ex;
    border: 1px silver solid;
}

hr {
    height: 0;
    border: none;
    border-top: 1px silver solid;
}

.last_updated {
    color: navy;
    font-weight: bold;
    border: 1px grey solid;
}